<!-- <app-cartucho-videojuego *ngFor="let x of cartuchos" [nombre]="x"></app-cartucho-videojuego> -->

<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3	class="mb-0">Agrega a tu whishlist</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label	for="nombre">Nombre</label>
                            <input	type="text"	class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
                        </div>
                        <div class="form-group">
                            <label	for="Imagen	Url">Imagen	Url</label>
                            <input	type="text"	class="form-control" id="imagenUrl"	placeholder="Ingresar url..." #url>
                        </div>
                        <button	type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr	class="mb-5">

    <h2>{{titulo}}</h2>

    <div class="row row-flex">
        <app-cartucho-videojuego *ngFor="let x of cartuchos" [cartuchoJuego]="x"></app-cartucho-videojuego>
    </div>
    
    <div class="row">
        <div class="contacto">
           <h2>Contactanos</h2>
            <ul>
                <li *ngFor="let y of contactos"><a href="#">{{y}}</a></li>
            </ul> 
        </div>
    </div>
</div>