<!-- <ul>
    <li>{{nombre}}</li>
</ul> -->

<div>
    <div class="card-content">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/tech" alt="">
            <span><h4>{{cartuchoJuego.nombre}}</h4></span>
        </div>
        <div class="card-desc">
            <h3>{{cartuchoJuego.nombre}}</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing	elit. Laboriosam, voluptatum!	Dolor quo, perspiciatis
            voluptas totam</p>
            <a href="#" class="btn-card">Ver más</a>
        </div>
    </div>
</div>